.backgroundIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1849px;
}
.interno2 {
  position: absolute;
  top: 0;
  left: 44px;
  line-height: 125%;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.logoIcon {
  position: absolute;
  height: 68%;
  width: 19.21%;
  top: 16%;
  right: 80.79%;
  bottom: 16%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.logo {
  position: relative;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  width: 177px;
  height: 50px;
  flex-shrink: 0;
}
.itIsA,
.subContent {
  width: 393px;
  display: flex;
}
.itIsA {
  position: relative;
  font-size: var(--font-size-3xl);
  letter-spacing: 0.01em;
  line-height: 150%;
  font-family: var(--font-jost);
  color: var(--color-dimgray);
  align-items: center;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.subContent {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.div,
.div3 {
  position: relative;
  letter-spacing: 0.06em;
  line-height: 120%;
  text-transform: uppercase;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.div3 {
  font-size: var(--font-size-lgi);
}
.icons,
.interno1 {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  display: flex;
  justify-content: flex-start;
}
.icons {
  width: 225px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-35xl);
  text-align: center;
  font-size: var(--font-size-lg);
  font-family: var(--font-font-awesome-5-brands);
}
.interno1 {
  width: 393px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-12xl);
  font-size: var(--font-size-21xl);
}
.pages1 {
  position: relative;
  line-height: 125%;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.aboutUs {
  margin: 0;
}
.aboutUsOurContainer {
  position: relative;
  font-size: var(--font-size-3xl);
  letter-spacing: 0.01em;
  line-height: 300%;
  font-family: var(--font-jost);
  color: var(--color-dimgray);
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.pages,
.services1 {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  width: 125px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.services1 {
  width: 120px;
}
.contact1 {
  position: relative;
  line-height: 125%;
  display: flex;
  align-items: center;
  width: 87px;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.eastBirchwoodAve {
  line-height: 150%;
}
.contactinternocom,
.p {
  line-height: 300%;
}
.p {
  margin: 0;
}
.eastBirchwoodAveContainer1 {
  line-break: anywhere;
  width: 100%;
}
.eastBirchwoodAveContainer {
  position: relative;
  font-size: var(--font-size-3xl);
  letter-spacing: 0.01em;
  font-family: var(--font-jost);
  color: var(--color-dimgray);
  display: flex;
  align-items: center;
  width: 258px;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.contact,
.interno {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact {
  width: 258px;
  flex-shrink: 0;
  flex-direction: column;
  gap: var(--gap-7xl);
}
.interno {
  width: 1199px;
  flex-direction: row;
  gap: var(--gap-82xl);
}
.copyrightInterno {
  position: absolute;
  top: 40px;
  left: 584px;
  letter-spacing: 0.01em;
  line-height: 150%;
}
.line {
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 1921px;
  height: 1px;
}
.copyright {
  position: relative;
  width: 1920px;
  height: 73px;
  flex-shrink: 0;
  font-size: var(--font-size-3xl);
  color: var(--color-dimgray);
  font-family: var(--font-jost);
}
.footer {
  position: absolute;
  top: 1222px;
  left: 0;
  width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-115xl);
  font-size: var(--font-size-6xl);
}
.initialInternoWebflow,
.v1 {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 150%;
  display: inline-block;
  flex-shrink: 0;
}
.v1 {
  width: 95px;
  height: 71px;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.initialInternoWebflow {
  font-size: var(--font-size-3xl);
  font-family: var(--font-jost);
  color: var(--color-dimgray);
  width: 407px;
  height: 31px;
}
.content,
.password {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  width: 513px;
  flex-direction: row;
  gap: var(--gap-2xs);
}
.password {
  position: absolute;
  top: 695px;
  left: 360px;
  border-radius: var(--br-51xl);
  background-color: var(--color-whitesmoke-200);
  width: 1201px;
  flex-direction: column;
  padding: 128px 343px;
  box-sizing: border-box;
  text-align: center;
}
.imagesIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 356px;
  object-fit: cover;
}
.homeChangelog {
  position: relative;
  font-size: var(--font-size-3xl);
  letter-spacing: 0.01em;
  line-height: 150%;
  font-family: var(--font-jost);
  color: var(--color-dimgray);
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.title {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  width: 232px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.banner,
.intro {
  position: absolute;
}
.intro {
  top: 178px;
  left: 708px;
  border-radius: var(--br-18xl) var(--br-18xl) 0 0;
  background-color: var(--color-white);
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  width: 504px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-22xl) 136px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.banner {
  top: 139px;
  left: 0;
  width: 1920px;
  height: 356px;
}
.homePagesServices {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 125%;
}
.menu,
.searchIcon {
  position: relative;
  width: 572px;
  height: 25px;
  flex-shrink: 0;
}
.searchIcon {
  width: 22.5px;
  height: 22.5px;
  opacity: 0.8;
}
.header,
.menubar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menubar {
  width: 624px;
  flex-shrink: 0;
  justify-content: flex-end;
  gap: var(--gap-12xl);
  text-align: center;
  font-size: var(--font-size-xl);
  font-family: var(--font-jost);
}
.header {
  position: absolute;
  top: 44px;
  left: 361px;
  width: 1200px;
  justify-content: flex-start;
  gap: var(--gap-380xl);
  font-size: var(--font-size-21xl);
}
.changelog {
  position: relative;
  width: 100%;
  height: 1848px;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-dm-serif-display);
}
